h1 #{name}

p As an intern at Venmo, I redesigned the "logged out"
  | portions of the webapp, including the landing page,
  | product pages, and signup flows. After iterating on the
  | design, I helped build the page alongside a full time
  | Venmo employee.

img(src='projects/venmoHomepage/01.png')
img(src='projects/venmoHomepage/02.png')
img(src='projects/venmoHomepage/03.png')
