h1 #{name}

p While at YinzCam, I designed and developed RockYourJersey, an
  | experimental app for the NHL 2010 Winter Classic, Super Bowl XLV, and
  | Penn State Blue & White game. The app gauged fan support by area,
  | visualizing where fans watched each event. The process involved
  | conceptualization, mockups, CSS, and building the interface with
  | jQuery.

img(src='projects/rockYourJersey/ryj.jpeg')
img(src='projects/rockYourJersey/ryjnfl02.jpeg')
img(src='projects/rockYourJersey/ryjnfl01.jpeg')
img(src='projects/rockYourJersey/ryjwc.jpeg')
img(src='projects/rockYourJersey/ryjwc01.jpeg')
img(src='projects/rockYourJersey/ryjwc02.jpeg')
