/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  padding: 0;
  margin: 0;
  font: 13px Arial, Helvetica, Garuda, sans-serif;
  *font-size: small;
  *font: x-small;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
em,
strong,
pre,
code {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
table {
  font-size: inherit;
  font: 100%;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
p {
  margin: 1em 0;
}
a,
a:visited,
a:hover {
  color: #25b1ce;
  text-decoration: none;
}
a:hover,
a:visited:hover,
a:hover:hover {
  color: #156778;
}
h1 {
  font-weight: bold;
  font-size: 1.3em;
}
h2 {
  font-weight: bold;
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}
body {
  font-size: 12px;
  font-family: Georgia;
  color: #4f4f4f;
  background-color: #f8fcfc;
}
.border_top {
  border-top: 1px dotted #9c9c9c;
}
.body_wrapper {
  width: 960px;
  margin: 50px auto;
}
.body_wrapper .header_logo {
  background-image: url('images/logo.png');
  width: 79px;
  height: 56px;
  float: left;
}
.body_wrapper .header_text {
  float: left;
  margin: 15px 0 0 15px;
}
.body_wrapper #header {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
  margin-left: 250px;
  margin-bottom: 50px;
}
.body_wrapper #main_container {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
  border-top: 1px dotted #9c9c9c;
  padding-top: 10px;
}
.body_wrapper #sidebar {
  display: inline;
  float: left;
  width: 140px;
  margin: 0 10px;
  margin-left: 90px;
  border-top: 1px dotted #9c9c9c;
  padding-top: 10px;
  text-align: left;
}
.body_wrapper #sidebar h2 {
  margin-bottom: 10px;
}
.body_wrapper #sidebar ul.links li {
  font-size: 1.1em;
  margin-bottom: 5px;
}
.main_page p {
  width: 80%;
}
.main_page p.caption {
  margin: 0 0 30px 0;
}
.main_page img {
  max-width: 100%;
  margin-top: 10px;
}
/* Custom buttons -------------------------------------------------------------------*/
/* --ELEMENTs MIXINS --------------------------------------------------------------------------------

    .gradient( @color: #F5F5F5, @start: #EEE, @stop: #FFF )
    .bw-gradient( @color: #F5F5F5, @start: 0, @stop: 255 )
    .bordered( @top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE )
    .drop-shadow( @x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1 )
    .rounded( @radius: 2px )
    .border-radius( @topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0 )
    .opacity( @opacity: 0.5 )
    .transition-duration( @duration: 0.2s )
    .rotation( @deg:5deg ){
    .scale( @ratio:1.5 ){
    .transition( @duration:0.2s, @ease:ease-out )
    .inner-shadow( @horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4 )
    .box-shadow( @arguments )
    .columns( @colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid,
      @columnRuleWidth: 1px )
    .translate( @x:0, @y:0 )


-----GRID MIXINS ------------------------------------------------------------------------------------

  Set these variables (defaults below, 12 col 960px grid)
  @column-width: 60;
  @gutter-width: 20;
  @columns: 12;

  If you want a fluid grid
  @total-width: 100%;

  Mixins
  .column(3);
  .row(9)
    .column(3,9);
  .push(2);
  .pull(2);

*/
