h1 #{name}

p Structural Path Analysis: Currently leading a
  | three person group working to visualize data from the
  | Economic Input-Output Life Cycle Assessment, a CEE
  | department initiative. EIOLCA asesses the environmental
  | impact of economic activity between sectors. Our treemap
  | style visualization shows environmental detriments across a
  | sector lifecycle.

img(src='projects/spaViz/01.png')
img(src='projects/spaViz/02.png')

